$rosewater: #FF205A;
$flamingo: #FF0039;
$pink: #C573EB;
$mauve: #FB51F0;
$red: #FF205A;
$maroon: #FF0039;
$peach: #CD9069;
$yellow: #FFC046;
$green: #ACEA6E;
$teal: #39C8B0;
$sky: #5FD8FF;
$sapphire: #00E7E0;
$blue: #6795FF;
$lavender: #009FFF;

$text: #D4D4D4;
$subtext1: #8b949e;
$subtext0: #6A9955;
$overlay2: #484F58;
$overlay1: #30363d;
$overlay0: #21262d;

$surface2: #1c2128;
$surface1: #161b22;
$surface0: #090c10;

$base: #0d1117;
$mantle: #090c10;
$crust: #010409;

$fg: $text;
$bg: $crust;
$bg1: rgba(49, 50, 68, 0.6);
$border: #28283d;
$shadow: $crust;

$surfaceVariant: $base;
$onSurfaceVariant: $subtext1;

$surface: $surface0;
$onSurface: $subtext1;

$primary: $lavender;
$onPrimary: $blue;
