@use "sass:color";
@use "../abstracts" as *;
@use "../widgets/active-client" as *;
@use "../components/button" as *;

.Bar {
  @include unset($rec: true);

  > centerbox {
    background-color: $surface0;
    padding: to-rem(4px) 0;
  }

  .left-box {
    background-color: $surface0;
    border-radius: to-rem(20px);
    padding: to-rem(8px) to-rem(16px);
    /* margin: to-rem(20px) 0 0 to-rem(20px); */
  }

  .center-box {
    background-color: $surface0;
    border-radius: to-rem(20px);
    padding: to-rem(8px) to-rem(16px);
    /* margin: to-rem(20px) 0 0 to-rem(20px); */
  }

  .right-box {
    background-color: $surface0;
    border-radius: to-rem(20px);
    padding: to-rem(8px) to-rem(16px);
    /* margin: to-rem(20px) to-rem(20px) 0 0; */
  }

  @include ActiveClient;

  .media-container {
    .media-clickable {
      border-radius: to-rem(12px);
      background-color: gtkalpha($surface1, 0.6);
      transition: all 200ms ease;

      &:hover {
        background-color: gtkalpha($surface2, 0.8);
      }

      box {
        .Cover {
          border-radius: 100%;
          background-size: cover;
          background-position: center;
          min-width: 24px;
          min-height: 24px;
          background-color: gtkalpha($surface2, 0.6);
          margin-left: to-rem(6px);
        }

        label {
          color: $text;
          font-size: to-rem(13px);
          font-weight: 500;
        }

        revealer {
          transition: all 200ms cubic-bezier(0.1, 1, 0.3, 1);
          padding-right: to-rem(6px);
        }
      }
    }
  }

  .github-button {
    @include button;
  }

  .systray- {
    button {
      @include button;
    }
  }

  .audio-button {
    @include button;
  }

  .display-button {
    @include button;
  }

  .wifi-button {
    @include button;
  }

  .battery-button {
    @include button;
  }

  .clock-button {
    @include button;
  }

  .sysinfo-button {
    border-radius: 100%;
    padding: to-rem(6px);
    background-color: gtkalpha($surface1, 0.6);
    transition: all 200ms ease;
    border: none;
    margin: 0 to-rem(4px);

    &:hover {
      background-color: gtkalpha($surface2, 0.8);
    }

    .profile-image {
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      min-width: 24px;
      min-height: 24px;
    }
  }
}
