@use "sass:color";
@use "../abstracts" as *;
@use "../widgets/active-client" as *;
@use "../components/button" as *;

.Bar {
  @include unset($rec: true);

  .left-box {
    background-color: $surface0;
    border-radius: to-rem(20px);
    padding: to-rem(10px) to-rem(16px);
    margin: to-rem(20px) 0 0 to-rem(20px);
  }

  .center-box {
    background-color: $surface0;
    border-radius: to-rem(20px);
    padding: to-rem(10px) to-rem(16px);
    margin: to-rem(20px) 0 0 to-rem(20px);
  }

  .right-box {
    background-color: $surface0;
    border-radius: to-rem(20px);
    padding: to-rem(10px) to-rem(16px);
    margin: to-rem(20px) to-rem(20px) 0 0;
  }

  @include ActiveClient;

  .github-button {
    @include button;
  }

  .systray- {
    button {
      @include button;
    }
  }

  .audio-button {
    @include button;
  }

  .wifi-button {
    @include button;
  }

  .battery-button {
    @include button;
  }

  .clock-button {
    @include button;
  }
}
