@use "../abstracts" as *;

eventbox.Notification {
  &:first-child > box {
    margin-top: to-rem(16px);
  }

  &:last-child > box {
    margin-bottom: to-rem(16px);
  }

  > box {
    min-width: to-rem(500px);
    border-radius: to-rem(20px);
    background-color: $surface0;
    margin: to-rem(0.5px) to-rem(20px);
    box-shadow: to-rem(2px) to-rem(3px) to-rem(8px) 0 gtkalpha($shadow, 0.4);
  }

  &.critical > box {
    border: to-rem(1px) solid gtkalpha($red, 0.4);

    .header {
      .app-name {
        color: $red;
      }

      .app-icon {
        color: gtkalpha($red, 0.8);
      }
    }
  }

  .header {
    padding: to-rem(8px);
    color: $subtext1;
    border-radius: to-rem(20px) to-rem(20px) 0 0;
    background-color: gtkalpha($surface1, 0.6);

    .app-icon {
      margin: 0 to-rem(6px);
      color: $lavender;
    }

    .app-name {
      margin-right: to-rem(5px);
      font-weight: bold;
      color: $overlay2;

      &:first-child {
        margin-left: to-rem(6px);
      }
    }

    .time {
      margin: 0 to-rem(6px);
      color: $subtext0;
    }

    button {
      padding: to-rem(3px);
      min-width: 0;
      min-height: 0;
      color: $overlay2;
      transition: all 200ms ease;

      &:hover {
        color: $red;
      }
    }
  }

  .content {
    margin: to-rem(16px);
    margin-top: to-rem(8px);
    padding: to-rem(20px) 0;

    .summary {
      font-size: to-rem(18px);
      color: $text;
    }

    .body {
      color: $subtext1;
      padding: to-rem(6px) 0;
    }

    .image {
      border: to-rem(1px) solid $border;
      margin-right: to-rem(8px);
      border-radius: to-rem(9px);
      min-width: to-rem(100px);
      min-height: to-rem(100px);
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: to-rem(16px);
    margin-top: 0;
    padding: to-rem(3px);

    button {
      margin: 0 to-rem(5px);
      padding: to-rem(8px) to-rem(16px);
      border-radius: to-rem(6px);
      background-color: gtkalpha($surface1, 0.6);
      color: $text;
      transition: all 200ms ease;

      &:hover {
        background-color: $overlay2;
        color: $base;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
