@use "sass:string";
@use "../colors";
@use "../lib";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.NotificationPopups {
  @include lib.unset;
}

eventbox.Notification {
  &:first-child > box {
    margin-top: 1rem;
  }

  &:last-child > box {
    margin-bottom: 1rem;
  }

  > box {
    min-width: 400px;
    border-radius: 13px;
    background-color: colors.$surface0;
    margin: 0.5rem 1rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(colors.$shadow, 0.4);
    border: 1pt solid colors.$border;
  }

  &.critical > box {
    border: 1pt solid gtkalpha(colors.$red, 0.4);

    .header {
      .app-name {
        color: colors.$red;
      }

      .app-icon {
        color: gtkalpha(colors.$red, 0.8);
      }
    }
  }

  .header {
    padding: 0.5rem;
    color: colors.$subtext1;

    .app-icon {
      margin: 0 0.4rem;
      color: colors.$lavender;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;
      color: colors.$blue;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
      color: colors.$subtext0;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
      color: colors.$overlay2;

      &:hover {
        color: colors.$red;
      }
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: colors.$border;
  }

  .content {
    margin: 1rem;
    margin-top: 0.5rem;

    .summary {
      font-size: 1.2em;
      color: colors.$text;
    }

    .body {
      color: colors.$subtext1;
    }

    .image {
      border: 1px solid colors.$border;
      margin-right: 0.5rem;
      border-radius: 9px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 1rem;
    margin-top: 0;
    padding: 0.2rem;

    button {
      margin: 0 0.3rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      background-color: colors.$surface1;
      color: colors.$text;

      &:hover {
        background-color: colors.$primary;
        color: colors.$base;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
