@use "sass:string";
@use "sass:color";
@use "../abstracts" as *;

window.OSDWindow {
  @include unset;
  background: transparent;
  box-shadow: none;
}

.OSD {
  background-color: gtkalpha($surface0, 0.95);
  border-radius: to-rem(24px);
  border: to-rem(1px) solid gtkalpha($border, 0.15);
  margin: to-rem(32px) 0;
  box-shadow: 0 to-rem(4px) to-rem(20px) gtkalpha(black, 0.2);
  padding: to-rem(5px);

  .volume-indicator,
  .volume-indicator-mute,
  .mic-indicator,
  .mic-indicator-mute {
    padding: to-rem(14px) to-rem(18px);
    margin: to-rem(4px);

    .indicator {
      icon {
        margin-right: to-rem(12px);
        font-size: to-rem(24px);
        min-width: to-rem(24px);
        min-height: to-rem(24px);
      }

      label {
        color: $text;
        font-size: to-rem(14px);
        font-weight: 500;
      }
    }

    .slider-container {
      .volume-slider {
        margin: 0 to-rem(16px);
        min-width: to-rem(250px);
        padding: to-rem(5px) 0;

        trough {
          background-color: gtkalpha($surface2, 0.5);
          min-height: to-rem(10px);
          border-radius: to-rem(12px);

          highlight {
            border-radius: to-rem(12px);
            min-height: to-rem(10px);
            padding: to-rem(6px) 0;
          }
        }

        slider {
          opacity: 0;
          min-height: 0;
          min-width: 0;
          border: none;
          background: transparent;
          box-shadow: none;
        }
      }

      .muted highlight {
        background-color: $onSurfaceVariant;
      }
    }
  }

  .volume-indicator {
    .indicator icon {
      color: $blue;
    }

    .volume-slider {
      trough highlight {
        background-color: $blue;
      }
    }
  }

  .mic-indicator {
    .indicator icon {
      color: $red;
    }

    .volume-slider {
      trough highlight {
        background-color: $red;
      }
    }
  }

  .volume-indicator-mute,
  .mic-indicator-mute {
    .indicator {
      icon {
        color: $red;
      }

      label {
        color: $subtext1;
      }
    }

    .volume-slider trough {
      background-color: gtkalpha($surface2, 0.3);

      highlight {
        background-color: $overlay2;
      }
    }
  }
}
