@use "../abstracts" as *;
@use "../components/button" as *;

.Vitals {
  @include button;

  box {
    margin: 4px;
  }

  .cpu {
    icon {
      color: $blue;
    }
  }

  .memory {
    icon {
      color: $green;
    }
  }

  .disk {
    icon {
      color: $yellow;
    }
  }

  .temperature {
    icon {
      color: $red;
    }
  }
}
