$rosewater: #f0c6c6;
$flamingo: #f2b8b5;
$pink: #ff9e64;
$mauve: #c0a7e5;
$red: #ff5d62;
$maroon: #e05f65;
$peach: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$teal: #73daca;
$sky: #7dcfff;
$sapphire: #7aa2f7;
$blue: #7aa2f7;
$lavender: #bb9af7;

$text: #c0caf5;
$subtext1: #a9b1d6;
$subtext0: #9aa5ce;
$overlay2: #7aa2f7;
$overlay1: #565f89;
$overlay0: #414868;

$surface2: #24283b;
$surface1: #1f2335;
$surface0: rgba(17, 18, 29, 0);
$surface3: #11121d;

$base: #16161e;
$mantle: #13141c;
$crust: #0f0f14;

$fg: $text;
$bg: $crust;
$bg1: rgba(36, 40, 59, 0.6);
$border: #24283b;
$shadow: $crust;

$surfaceVariant: $base;
$onSurfaceVariant: $subtext1;

$surface: $surface0;
$onSurface: $subtext1;

$primary: $blue;
$onPrimary: $lavender;
