@use "./colors" as *;

@mixin window {
  background-color: $crust;
  padding: 1rem;
  color: $text;
  box-shadow: 0 0 4px 2px $shadow;
}

@mixin unset($rec: false) {
  all: unset;

  @if $rec {
    * {
      all: unset;
    }
  }
}

@mixin hovered-button {
  &:hover {
    background-color: $primary;
    color: $base;
  }
}
